<!-- FOOTER
    ================================================== -->
<div class="footer full-width">
    <div class="background-footer"></div>
    <div class="background">
        <div class="shadow"></div>
        <div class="pattern">
            <div class="container">

                <div class="advanced-grid advanced-grid-49075166  "
                     style="margin-top: 0px;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;">
                    <div style="">
                        <div class="container">
                            <div style="padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row footer-blocks-top">
                                            <div class="col-sm-4 text-center">
                                                <div class="footer-block">
                                                    <img src="/catalog/view/theme/military/image/icon-mail.png" alt="Mail">
                                                    <div class="footer-block-content">
                                                        <h6 style="font-size: 17px;color: #6d7156;line-height: 1.3">Do
                                                            you have any question?</h6>
                                                        <p>{{ email }}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 text-center">
                                                <div class="footer-block">
                                                    <img src="/catalog/view/theme/military/image/icon-phone.png" alt="Phone">
                                                    <div class="footer-block-content">
                                                        <h6 style="font-size: 17px;color: #f8a72b;line-height: 1.3">
                                                            {{ telephone }}
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 text-center">
                                                <a href="{{ contact }}" class="footer-button">{{ text_contact }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="footer-about-us">
                                            <img src="/catalog/view/theme/military/image/logo-footer.png" alt="Fastor">
                                            <h6 style="color: #6d7156">
                                                PO Box 16122 Collins Street <br>Victoria 8007
                                                Australia
                                            </h6>
                                        </div>
                                    </div>
                                    {% if informations %}

                                        <div class="col-sm-3">
                                            <h4>{{ text_information }}</h4>
                                            <div class="strip-line"></div>
                                            <div class="row" style="clear: both">
                                                <div class="col-sm-12">
                                                    <ul>
                                                        {% for information in informations %}

                                                            <li>
                                                                <a href="{{ information.href }}">{{ information.title }}
                                                                </a>
                                                            </li>
                                                        {% endfor %}

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="col-sm-3">
                                        <h4>{{ text_account }}</h4>
                                        <div class="strip-line"></div>
                                        <div class="row" style="clear: both">
                                            <div class="col-sm-12">
                                                <ul>
                                                    <li>
                                                        <a href="{{ account }}">
                                                            {{ text_account }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ order }}">{{ text_order }}</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ wishlist }}">{{ text_wishlist }}</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ newsletter }}">{{ text_newsletter }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4>{{ text_service }}</h4>
                                        <div class="strip-line"></div>
                                        <div class="row" style="clear: both">
                                            <div class="col-sm-12">
                                                <ul>
                                                    <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                                                    <li><a href="{{ return }}">{{ text_return }}</a></li>
                                                    <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row footer-blocks-bottom">
                                            <div class="col-sm-4 text-center">
                                                <div class="footer-block">
                                                    <img src="/catalog/view/theme/military/image/icon-free-shipping.png"
                                                         alt="Free shipping">
                                                    <div class="footer-block-content">
                                                        <h6 style="font-size: 16px;color: #6d7156;line-height: 1.4">Free
                                                            shipping &amp; Return</h6>
                                                        <p>For all orders over $500</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 text-center">
                                                <div class="footer-block">
                                                    <img src="/catalog/view/theme/military/image/icon-money.png" alt="Money back">
                                                    <div class="footer-block-content">
                                                        <h6 style="font-size: 16px;color: #f8a72b;line-height: 1.4">
                                                            Money back guarantee</h6>
                                                        <p>100% money back guarante</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 text-center">
                                                <div class="footer-block">
                                                    <img src="/catalog/view/theme/military/image/icon-support.png" alt="Support">
                                                    <div class="footer-block-content">
                                                        <h6 style="font-size: 16px;color: #54524e;line-height: 1.4">
                                                            Support 24/7</h6>
                                                        <p>We answer for question all time</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div style="text-align: center"> {{ powered }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/catalog/view/theme/military/js/megamenu.js"></script>
</div>
</div>

<div class="nav-collapse collapse" style="visibility:hidden;position:fixed" id="cwspear-is-awesome">.
</div>
</body>
</html>