<div class="megamenu-background">
    <div class="">
        <div class="overflow-megamenu container">
            <div class="row mega-menu-modules"><div class="col-md-3">
                    <div id="megamenu_72799350" class="container-megamenu container vertical mobile-disabled">
                        <div id="menuHeading">
                            <div class="megamenuToogle-wrapper">
                                <div class="megamenuToogle-pattern">
                                    <div class="container">
                                        {{ catagories_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="megamenu-wrapper">
                            <div class="megamenu-pattern">
                                <div class="container">
                                    <ul class="megamenu shift-up">
                                        {% for category in categories %}
                                            {% if category.children %}
                                                <li class=" with-sub-menu hover">
                                                    <p class="close-menu"></p>
                                                    <p class="open-menu"></p>
                                                    <a href="{{ category.href }}" class="clearfix">
                                                        <span>
                                                            <strong>{{ category.name }}</strong>
                                                        </span>
                                                    </a>
                                                    <div class="sub-menu " style="width:190px;right: auto">


                                                        <div class="content">
                                                            <p class="arrow" style="left: 26px;"></p>
                                                            <div class="row">
                                                                <div class="col-sm-12  mobile-enabled">
                                                                    <div class="row">
                                                                        <div class="col-sm-12 mobile-enabled">
                                                                            <div class="row">
                                                                                <div class="col-sm-12 hover-menu">
                                                                                    <div class="menu">
                                                                                        <ul>
                                                                                            {% for child in category.children %}
                                                                                                <li>
                                                                                                    <a href="{{ child.href }}" onclick="window.location = '{{ child.href }}'" class="main-menu ">
                                                                                                        {{ child.name }}
                                                                                                    </a>
                                                                                                </li>
                                                                                            {% endfor %}

                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% else %}
                                                <li class="">
                                                    <p class="close-menu"></p>
                                                    <p class="open-menu mobile-disabled"></p>
                                                    <a href="{{ category.href }}" class="clearfix">
                                                        <span>
                                                            <strong>
                                                                {{ category.name }}
                                                            </strong>
                                                        </span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $(window).load(function(){
                            var css_tpl = '<style type="text/css">';
                            css_tpl += '#megamenu_72799350 ul.megamenu > li > .sub-menu > .content {';
                            css_tpl += '-webkit-transition: all 200ms ease-out !important;';
                            css_tpl += '-moz-transition: all 200ms ease-out !important;';
                            css_tpl += '-o-transition: all 200ms ease-out !important;';
                            css_tpl += '-ms-transition: all 200ms ease-out !important;';
                            css_tpl += 'transition: all 200ms ease-out !important;';
                            css_tpl += '}</style>'
                            $("head").append(css_tpl);
                        });
                    </script>
                </div><div class="col-md-9">
                    <div id="megamenu_76100530" class="container-megamenu  horizontal">
                        <div class="megaMenuToggle">
                            <div class="megamenuToogle-wrapper">
                                <div class="megamenuToogle-pattern">
                                    <div class="container">
                                        <div><span></span><span></span><span></span></div>
                                        Navigation				</div>
                                </div>
                            </div>
                        </div>
                        <div class="megamenu-wrapper">
                            <div class="megamenu-pattern">
                                <div class="container">
                                    <ul class="megamenu shift-up">
                                        {% for category in categories %}
                                            {% if category.children %}
                                                <li class=" with-sub-menu hover">
                                                    <p class="close-menu"></p>
                                                    <p class="open-menu mobile-disabled"></p>
                                                    <a href="{{ category.href }}" class="clearfix">
                                                        <span>
                                                            <strong>
                                                                {{ category.name }}
                                                            </strong>
                                                        </span>
                                                    </a>
                                                    <div class="sub-menu " style="width: 190px; right: auto;">
                                                        <div class="content">
                                                            <p class="arrow" style="left: 26px;"></p>
                                                            <div class="col-sm-12  mobile-enabled">
                                                                <div class="row">
                                                                    <div class="col-sm-12 mobile-enabled">
                                                                        <div class="row">
                                                                            <div class="col-sm-12 hover-menu">
                                                                                <div class="menu">
                                                                                    <ul>
                                                                                        {% for child in category.children %}
                                                                                            <li>
                                                                                                <a href="{{ child.href }}" onclick="window.location='{{ child.href }}'" class="main-menu">
                                                                                                    {{ child.name }}
                                                                                                </a>
                                                                                            </li>
                                                                                        {% endfor %}
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </li>
                                            {% else %}
                                                <li class="">
                                                    <p class="close-menu"></p>
                                                    <p class="open-menu mobile-disabled"></p>
                                                    <a href="{{ category.href }}" class="clearfix">
                                                        <span>
                                                            <strong>{{ category.name }}</strong>
                                                        </span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $(window).load(function(){
                            var css_tpl = '<style type="text/css">';
                            css_tpl += '#megamenu_76100530 ul.megamenu > li > .sub-menu > .content {';
                            css_tpl += '-webkit-transition: all 200ms ease-out !important;';
                            css_tpl += '-moz-transition: all 200ms ease-out !important;';
                            css_tpl += '-o-transition: all 200ms ease-out !important;';
                            css_tpl += '-ms-transition: all 200ms ease-out !important;';
                            css_tpl += 'transition: all 200ms ease-out !important;';
                            css_tpl += '}</style>'
                            $("head").append(css_tpl);
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>