<!-- FOOTER
    ================================================== -->
<div class="footer full-width">
    <div class="background-footer"></div>
    <div class="background">
        <div class="shadow"></div>
        <div class="pattern">
            <div class="container">

                <div class="advanced-grid advanced-grid-33250479  "
                     style="margin-top: 0px;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;">
                    <div style="">
                        <div class="container">
                            <div style="padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row footer-blocks-top">
                                            <div class="col-sm-4 text-center">
                                                <div class="footer-block">
                                                    <img src="catalog/view/theme/shoes/image/icon-mail.png" alt="Mail">
                                                    <div class="footer-block-content">
                                                        <h6 style="font-size: 23px;line-height: 1;text-transform: none">
                                                            Do you have any question?</h6>
                                                        <p>{{ email }}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 text-center">
                                                <div class="footer-block">
                                                    <img src="catalog/view/theme/shoes/image/icon-phone.png" alt="Phone">
                                                    <div class="footer-block-content">
                                                        <h6 style="font-size: 23px;line-height: 1;text-transform: none">
                                                            {{ telephone }}
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 text-center">
                                                <a href="{{ account }}" class="footer-button">{{ text_account }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="footer-about-us">

                                            <h6 style="font-size: 22px;line-height: 20px;text-transform: none">{{ address }}</h6>
                                            <p{{ telephone }}<br>{{ email }}</p>
                                            <ul class="social-icons">
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                            </ul>
                                        </div>

                                        <div style="height: 10px" class="hidden-xs"></div>
                                    </div>

                                    <div class="col-sm-3">
                                        <h4>{{ text_information }}</h4>
                                        <div class="strip-line"></div>
                                        <div class="row" style="clear: both">
                                            <div class="col-sm-12">
                                                <ul>
                                                    {% for information in informations %}
                                                        <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4>{{ text_service }}</h4>
                                        <div class="strip-line"></div>
                                        <div class="row" style="clear: both">
                                            <div class="col-sm-12">
                                                <ul>
                                                    <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                                                    <li><a href="{{ return }}">{{ text_return }}</a></li>
                                                    <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4>{{ text_account }}</h4>
                                        <div class="strip-line"></div>
                                        <div class="row" style="clear: both">
                                            <div class="col-sm-12">
                                                <ul>
                                                    <li><a href="{{ account }}">{{ text_account }}</a></li>
                                                    <li><a href="{{ order }}">{{ text_order }}</a></li>
                                                    <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
                                                    <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div style="text-align: center">
                                            {{ powered }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="catalog/view/theme/shoes/js/megamenu.js"></script>
</div>
</div>
</body>
</html>