<!-- FOOTER
    ================================================== -->
<div class="footer full-width">
    <div class="background-footer"></div>
    <div class="background">
        <div class="shadow"></div>
        <div class="pattern">
            <div class="container">

                <div class="advanced-grid advanced-grid-108774540  "
                     style="margin-top: 0px;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;">
                    <div style="">
                        <div class="container">
                            <div style="padding-top: 0px;padding-left: 0px;padding-bottom: 0px;padding-right: 0px;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row footer-blocks-top" style="margin-top: 12px;margin-bottom: 12px">
                                            <div class="col-sm-4 text-center">
                                                <div class="footer-block">
                                                    <img src="catalog/view/theme/toys/image/icon-mail.png" alt="Mail">
                                                    <div class="footer-block-content">
                                                        <h6 style="font-size: 24px;color: #b24043;line-height: 1.1">Do
                                                            you have any question?</h6>
                                                        <p>{{ email }}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 text-center">
                                                <div class="footer-block">
                                                    <img src="catalog/view/theme/toys/image/icon-phone.png" alt="Phone">
                                                    <div class="footer-block-content">
                                                        <h6 style="font-size: 24px;color: #b24043;line-height: 1.1">
                                                            {{ telephone }}</h6>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 text-center">
                                                <a href="{{ contact }}" class="footer-button">{{ text_contact }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div style="text-align: center">
                                            {{ powered }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="catalog/view/theme/toys/js/megamenu.js"></script>
</div>
</div>
</body>
</html>